# API Settings
HOST=0.0.0.0
PORT=8001
DEBUG=True

# Model Paths
YOLO_MODEL_PATH=models/yolo/best_manga_seg.pt
SAM_MODEL_PATH=models/sam/sam_vit_h_4b8939.pth
UNET_MODEL_PATH=models/unet/unet_manga.pth
COLORIZATION_MODEL_PATH=models/colorization/color_model.pth

# Inference Settings
CONFIDENCE_THRESHOLD=0.60
